@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 150 20% 99%;
    --foreground: 150 30% 3.9%;
    --card: 150 20% 99%;
    --card-foreground: 150 30% 3.9%;
    --popover: 150 20% 99%;
    --popover-foreground: 150 30% 3.9%;
    --primary: 142 76% 36%;
    --primary-foreground: 150 20% 99%;
    --secondary: 150 30% 96.1%;
    --secondary-foreground: 150 40% 9%;
    --muted: 150 30% 96.1%;
    --muted-foreground: 150 20% 45.1%;
    --accent: 150 30% 96.1%;
    --accent-foreground: 150 40% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 150 20% 99%;
    --border: 150 20% 89.8%;
    --input: 150 20% 89.8%;
    --ring: 142 76% 36%;
    --chart-1: 142 76% 36%;
    --chart-2: 160 84% 39%;
    --chart-3: 170 70% 24%;
    --chart-4: 130 74% 66%;
    --chart-5: 150 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 150 30% 3.9%;
    --foreground: 150 20% 99%;
    --card: 150 30% 3.9%;
    --card-foreground: 150 20% 99%;
    --popover: 150 30% 3.9%;
    --popover-foreground: 150 20% 99%;
    --primary: 142 76% 36%;
    --primary-foreground: 150 20% 99%;
    --secondary: 150 30% 14.9%;
    --secondary-foreground: 150 20% 99%;
    --muted: 150 30% 14.9%;
    --muted-foreground: 150 20% 63.9%;
    --accent: 150 30% 14.9%;
    --accent-foreground: 150 20% 99%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 150 20% 99%;
    --border: 150 30% 14.9%;
    --input: 150 30% 14.9%;
    --ring: 142 76% 36%;
    --chart-1: 142 76% 36%;
    --chart-2: 160 84% 39%;
    --chart-3: 170 70% 24%;
    --chart-4: 130 74% 66%;
    --chart-5: 150 87% 67%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    direction: rtl;
  }
}
